/* Reset dasar */
:root {
    --primary-color: #2196F3;
    --secondary-color: #FF78AC;
    --third-color: #F2F0EA;
}

/* Navbar biru */
.navbar {
    background-color: var(--primary-color) !important;
}
.navbar-nav .nav-item {
    margin: 0 10px;
}

/* Text menu warna putih */
.navbar .nav-link {
    color: black !important;
    font-size: 16px;
    padding: 8px 20px;
    transition: 0.3s;
}

/* Hover efek rounded + warna */
.navbar .nav-link:hover {
    background-color: var(--secondary-color);
    border-radius: 18px;
    color: white !important;
}

/* Ketika link aktif (halaman sedang dibuka) */
.navbar .nav-link.active {
    background-color: var(--secondary-color);
    border-radius: 18px;
    color: white !important;
}

.navbar-brand {
    font-weight: 500;
    font-size: 28px;
    padding: 8px 20px;
}

.main {
    background: url(images/banner.png)no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    width: 100%;
}

.main h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    margin-top: 0;

}
.main h2 {
    padding: 0, 20px;
    text-align: left;
}
.btn0 {
    padding: 12px 42px;
    height: 45px;
    width: 100%;
    max-width: 250px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: black;
    font-weight: 700;
    border-radius: 60px;
}
.keunggulan {
    background: #f1f8ff; /* biru muda lembut */
    background-color: var(--third-color);
}

.fitur-card {
    border-radius: 15px;
    transition: 0.3s ease;
    background: white;
}

.fitur-card:hover {
    background: #cce6ff;
    transform: translateY(-5px);
}

.testimoni .card {
    border-radius: 15px;
}

.testimoni .card p {
    font-size: 0.95rem;
}
.card {
    border-radius: 15px;
    text-align: center;
}

.card h5 {
    margin-bottom: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-control-next {
    right: -100px;
}
.carousel-control-prev {
    left: -100px;
}

.footer{
    background-color: var(--primary-color);
    padding-top: 40px;
    padding-bottom: 20px;
}

.hero {
    background: url(images/background-ceres.jpg);
}
.profil {
    background-color: var(--third-color);
}
.produkUnggulan{
    background: url(images/background-ceres.jpg);
}
.tahapan {
    background: url(images/background-ceres.jpg);
}
.sosmed {
    background-color: var(--third-color);
}

.produk {
    background: url(images/background-ceres.jpg);
}
.card img {
    height: 220px;
    object-fit: contain;
    padding: 10px;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.btn1{
    padding: 4px;
}

.card-text{
    padding-bottom: 10px;
}
.galeri {
    background: url(images/background-ceres.jpg);
}

.kontak {
    background: url(images/background-ceres.jpg);
}

.card-body{
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    background-color: var(--third-color);
}